"""
    {{ package_name }}.auth
    ~~~~~~~~~~~~~~~~~~~~~~~

    {{ description }}.

    :copyright: (c) {{ year }} by Leandro E. Colombo Viña <<@LeCoVi>>.
    :author: {{ author }} <{{ mail_user }} at bitson.com.ar>.
    :license: AGPL, see LICENSE for more details.
"""
# Standard lib imports
# Third-party imports
# BITSON imports
from .routes import {{ package_name }}


def init_{{ package_name }}():
    pass


def init_demo_{{ package_name }}():
    pass

