"""
    {{ package_name }}.auth.decorators
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    {{ description }}.

    :copyright: (c) {{ year }} by Leandro E. Colombo Viña <<@LeCoVi>>.
    :author: {{ author }} <{{ mail_user }} at bitson.com.ar>.
    :license: AGPL, see LICENSE for more details.
"""
# Standard lib imports
# Third-party imports
# BITSON imports


def {{ package_name }}_decorator():
    """Decorator which ....
    Example::

        @app.route('/data')
        @{{ package_name }}_decorator('value1', 'value2')
        def data():
            return 'awesome data'

    The values....

    :param values: The required values
    """
