"""
    {{ package_name }}.auth.models
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    {{ description }}.

    :copyright: (c) {{ year }} by Leandro E. Colombo Viña <<@LeCoVi>>.
    :author: {{ author }} <{{ mail_user }} at bitson.com.ar>.
    :license: AGPL, see LICENSE for more details.
"""
# Standard lib imports
# Third-party imports
# BITSON imports
from app.extensions import db, AppModel


class {{ package_name.capitalize() }}(AppModel):
    __tablename__ = '{{ package_name }}'



